# Data files
*.tsv
*.zip
data/
*.DS_Store
*.parquet
mf_inputs/
topic_outputs/
topic_mf_outputs/
quick_outputs/
simple_outputs/
communitynotes/scoring/src/data/

# Python
__pycache__/
*.pyc
venv/
.venv/

# Virtual environments
cn_venv/
venv/
env/
.venv/
communitynotes/scoring/cn_env/

# Data files
*.tsv
*.zip
data/
communitynotes/data/
